
.container path{
    fill: #c2ccf2;
    stroke: black;
    stroke-width: 0.5px;
    opacity: 1;
}

.container :hover{
    fill: #3490dc;
}

.nombres_izq1 {
    width: 64px;
    text-align: left;
    font-size: 14px;
  }

  .nombres_der1 {
    width: 191px;
    text-align: right;
    font-size: 14px;
  }

.indicador_izq {
    width: 190px !important;
    text-align: left;
    font-size: 13px;
  }

.indicador_der {
   width: 65px !important;
   text-align: right;
   font-size: 13.5px;
}  

.fondo_texto2 {
    background: #65c0ea;
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: 0px;
      margin-top: 0px;
  }