
body{
    background: #f2f2f2;
    display: flex;
    place-content: center;
}

.container{
    width: 50%;

}

.container path{
    fill: #c2ccf2;
    stroke: black;
    stroke-width: 0.5px;
    opacity: 1;
}

.container :hover{
    fill: #3490dc;
}